
.Container{
    background-color: white;
    
}

#LogoTienda {
   /* text-align: left;*/
    margin-right: 800px;
}

.Nav{
    margin-right: 5px;
}

ul li{
    list-style-type: none;
    display:inline;
    margin-right: 10px;
    font-size: 20px;
}

